[package]
name = "i3nator"
version = "1.1.1-pre"
authors = ["Pit Kleyersburg <pitkley@googlemail.com>"]
license = "MIT/Apache-2.0"
description = "i3nator is Tmuxinator for the i3 window manager"
homepage = "https://github.com/pitkley/i3nator"
repository = "https://github.com/pitkley/i3nator.git"

categories = ["command-line-interface", "command-line-utilities", "gui"]
keywords = ["cli", "i3", "unix", "xdg"]

build = "build.rs"

include = [
    "**/*.rs",
    "resources/**/*",
    "Cargo.toml",
    "LICENSE-*",
]

[dependencies]
clap = "^2.24"
error-chain = "^0.12"
getch = "^0.1"
i3ipc = "^0.10"
lazy_static = "^1.2"
serde = "^1.0"
serde_derive = "^1.0"
tempfile = "^3.0"
toml = "^0.5"
wait-timeout = "^0.2"
xdg = "^2.1"

[build-dependencies]
clap = "^2.24"

[dev-dependencies]
tempdir = "^0.3"

[[bin]]
name = "i3nator"
path = "src/main.rs"
doc = false

[features]
sequential-tests = []

[package.metadata.release]
sign-commit = true
